DATABASE_URL="mysql://USUARIO:SENHA@localhost:3306/elinton_store"
DATABASE_USER="USUARIO"
DATABASE_PASSWORD="SENHA"
DATABASE_NAME="elinton_store"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

MAILTRAP_EMAIL=""
MAILTRAP_SENHA=""